main_screen_height=1080             # Set width and height of main screen
main_screen_width=1920
second_screen_height=900            # make this 0 if you do not have a second screen 
second_screen_width=1600            # make this 0 if you do not have a second screen 
update_freq_s=5                     # how fast to update the GPU statistics
bring_to_front_delay=15             # how often (in seconds) to lift sidelight window above other windows
nvidia_smi_path=default             # where Nvidia SMI is installed. Default is <system drive>/Program Files/NVIDIA Corporation/NVSMI. Don't worry about this unless u know whats cooking.
alpha=0.6                           # the sidelight window opacity. 1.0 means fully opaque, 0.0 means fully transparent. Default of 0.6 is pretty good.
windows_taskbar_offset=52           # number of pixels to offset the widget by on windows. By default this is the height of the taskbar on a 1080p screen.
linux_taskbar_offset=228            # dito but for linux, assuming you are using a taskbar akin to windows. If not, tweak it to zero or even negative if needed.
